.login-form .ant-input {
  border: 2px solid #bfa55e; /* Muddy gold border */
  transition: border-color 0.3s; /* Smooth transition for border color */
}


.login-form .ant-input::placeholder {
  color: #a38e4d; /* A darker placeholder color that complements muddy gold */
  opacity: 1; /* Make sure the placeholder is fully opaque */
}
